<br>
<div class="container-fluid col-md-9 col-11 p-0" style="margin: 0 auto">
    <div data-aos="zoom-out-down" data-aos-duration="2000">
        <h1 class="font-gugi text-center">P R O J E C T S</h1>
        <hr class="text-center bg-dark w-75">
    </div>
    <div class="row col-12 m-0 p-0">
        {{#each project}}
        <div class="col-md-4 col-6 p-0" data-aos="fade-up" data-aos-duration="2000">
            <a href="{{this.dataValues.projectUrl}}" target="_blank" class="link-block project">
                <div class="m-2 border project-shadow">
                    <div>
                        <h3 class="font-gugi lead text-center p-2 m-0 bg-gradient text-light">{{this.dataValues.projectName}}</h3>
                    </div>
                    <div>
                        <img src={{this.dataValues.projectImageUrl}} class="img-fluid">
                    </div>
                    <div class="text-center p-md-3 py-3">
                        <p class="small px-3">{{this.dataValues.projectDescription}}</p>
                        <a href={{this.dataValues.projectUrl}} target="_blank" class="link-block-black small"><button
                                class="btn btn-sm btn-outline-dark my-1 p-1 link-block-black">Open Project</button></a>
                        <a href="{{this.dataValues.projectRepo}}" target="_blank" class="link-block-black small"><button
                                class="btn btn-sm btn-outline-dark my-1 p-1 link-block-black">Github</button></a>
                    </div>
                </div>
            </a>
        </div>
        {{/each}}
    </div>

</div>

<div class="container-justify btns">
    <a href="/" class="link-block"><span class="lead footer"></span></a>
</div>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>